
#events {
    display: block;
    grid-template-columns: 1fr 2fr;
    gap: 0.5em;
    padding: 0.5em;
}

.responsive-left {
    height: 4vw;
    width: auto;
}

.Responsive-deleted {
    display: none;
}

#events-picture img {
    width: 23%;
    height: 14vw;
    border: solid;
    color: white;
}

#events-text {
    font-size: 10vw;
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
    text-shadow: 0.5rem 0.5rem #B29559;
    -moz-text-shadow: 0.5rem 0.5rem #B29559;
    -webkit-text-shadow: 0.5rem 0.5rem #B29559;
    margin: 0;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header iframe {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

body {
    background-color: #000000;
    color: white;
}

.hours {
    position: flex;
    display: grid;
    width: 40%;
    height: 80%;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    margin-top: 20vw;
}

.hours,
h1 {
    padding: 15px;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

section {
    display: flex;
    font-style: normal;
    justify-content: space-around;
    margin-top: 10vw;
    align-items: center;
    z-index: -1;
}

form {
    background: #000000;
    z-index: 0;
}

input {
    border: #B29559 solid 2px;
    display: inline-block;
    height: 50%;
    width: 30%;
}


textarea {
    display: inline-block;
    margin-top: 4vw;
    width: 94.73%;
    border: #B29559 solid 2px;
}

.order {
    display: inline-block;
    height: 20%;
    width: 45vw;
}

h3 {
    color: #B29559;
}

input[type="submit"] {
    margin-top: 5px;
    display: inline-block;
    background-color: #B29559;
    color: white;
    padding: 10px 20px;
    width: 48.2%;
    cursor: pointer;
}

.branches {
    display: table;
    width: 50vw;
    font-size: 2vw;
    margin-top: 10vw;
    margin-bottom: 6vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #B29559;
    border-collapse: collapse;
    text-align: center;
}

table,
th,
td {
    border: 5px double #B29559;
    border-collapse: collapse;
}

footer iframe {
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 1010px) {

    body {
        margin-top: 20vw;
    }

    .hours {
        display: block;
        width: 100%;
        height: 80%;
        margin: 10px;
        border: 2px solid rgb(255, 255, 255);
        text-align: center;
    }

    .hours,
    h1 {
        padding: 15px;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

    }

    section {
        display: block;
        font-style: normal;
        justify-content: space-around;
        margin-left: 10vw;
        margin-right: 10vw;
        align-items: center;
    }

    .details {
        margin-top: 10vw;
    }

    .branches {
        display: table;
        width: 50vw;
        font-size: 3vw;
        margin-top: 10vw;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #B29559;
        border-collapse: collapse;
        text-align: center;
    }

    table,
    th,
    td {
        border: 5px double #B29559;
        border-collapse: collapse;
    }
}
