.header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

body {
    background-color: black;
    margin: 0;
    direction: rtl;
}

#starters,
#main,
#children,
#desserts {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#starters-opacity,
#main-opacity,
#children-opacity,
#desserts-opacity {
    opacity: 1;
}

h1,
h2,
p {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);

}

#starters {
    background-image: url(../images/restaurant-menu/starter-dish.png);
}

#main {
    background-image: url(../images/restaurant-menu/main-dish.png);
}

#children {
    background-image: url(../images/restaurant-menu/children-dish.png);
}

#desserts {
    background-image: url(../images/restaurant-menu/dessert-dish.png);
}

footer iframe {
    margin-top: 0;
    width: 100%;
    height: 2vw;
}