* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

body {
    background-color: black;
    margin: 0;
    direction: rtl;
}

#wine-menu {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(../images/wine-menu/wine-bar2.png);
}

#wine-opacity {
    opacity: 1;
}

#text-menu-wine {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-weight: bold;
    font-size: 2.3vw;
    text-align: center;
    z-index: 1;
    line-height: 2.05;
    direction: rtl;
}

footer iframe {
    width: 100%;
    height: 2vw;
}